body{
    background: url('img/usarbfon.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    display: grid;
    grid-template-columns: 850px 750px;
}


h1#left{
    height: 80px;
    width: 630px;
    background: white;
    color: rgb(56, 55, 55);
    text-align: center;
    line-height: 70px;
    margin-left: 50px;
}

/*the selector of the group, of the audience ....*/

.selector{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-left: 50px;
    column-gap: 150px;
    margin-top: 30px;
}

a#group{
    background-color: rgb(4, 95, 4);
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: white;
}

a#teacher, a#auditors{
    text-decoration: none;
    color:white;
    height: 40px;
    width: 100px;
    background-color: rgb(4, 95, 4);
    text-align: center;
    line-height: 40px;
}

a#group:hover, a#group:focus,
a#teacher:hover, a#teacher:focus,
a#auditors:hover, a#auditors:focus{
    background-color: white;
    color: black;
    font-weight: bold;
}

/*search engine, day selector, semester*/

.selector2{
    display: grid;
    grid-template-rows: 40px 100px 40px 40px 40px 300px;
    margin-top: 30px;
    width: 600px;
    margin-left: 50px;
    grid-row-gap: 20px;

}

/*group-selector*/

.group-selector{
    display: grid;
    margin-top: 5px;
    background: white;
}

.group-selector a{
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
}

.group-selector a:hover{
    background-color: yellow;
    opacity: 45%;
    color: green;
}

/*schedule table*/

table, tr, th{
    border: 1px solid black;
}

table{
    background-color: white;
}

tr#green{
    background-color: rgb(4, 95, 4);
    color: white;
}

th#green{
    background-color: rgb(4, 95, 4);
}

th a{
    color: white;
    text-decoration: none;
}


th#lightgreen{
    background-color: rgb(106, 219, 106);
}

th#violet{
    background-color: rgb(184, 18, 184);
}

th#pink{
    background-color: rgb(236, 139, 156);
}

th#yellow{
    background-color: rgb(228, 228, 17);
}

th#brown{
    background-color: rgb(110, 27, 27);
}

/*table information*/

.bottom-info{
    display: grid;
    grid-template-rows: 5px;
    justify-content: center;
}

.bottom-info h5{
    color: white;
    font-size: 15px;
    line-height: 30px;
}

/*access links*/

.link{
    display: grid;
    grid-template-columns: 150px 100px 150px 150px;
    grid-template-rows: 35px;
    grid-column-gap: 30px;
    justify-content: center;
    margin-top: -35px;
}

.link img{
    width: 100px;
    height: 35px;
    margin-left: -20px;
    margin-top: px;
}

.link a{
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 35px;
}

.link a#green{
    background-color: rgb(4, 95, 4);
}

.link a#pink{
    background-color: rgb(255, 81, 110);
}


.right-content img{
    width: 150px;
    height: 100px;
    margin-left: 250px;
}

.right-content h1#right{
color: white;
text-transform: uppercase;
font-size: 25px;
font-weight: bold;
text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

}

.right-table{
    display: grid;
    grid-template-columns: 200px 600px;
    background-color: white;
    width: 800px;
    justify-content: center;
    margin-left: -80px;
}

.discipline{
display: grid;
grid-template-rows: repeat(7,100px);
}


.discipline h3{
    color: rgb(61, 59, 59);
    font-weight: bold;
}

.discipline h4{
    color: gray;
}


.discipline a{
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid black;
}

.discipline a:hover{
    background-color: yellow;
    opacity: 45%;
}

.discipline a h4{
    margin-top: -30px;
       
}

.hour{
    display: grid;
    grid-template-rows: repeat(7,100px);
    background-color: rgb(4, 95, 4);
    
}

.hour a{
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    padding-top: 20px;
    color: white;
}



