body{
    background: url('img/usarbfon.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}


h1#left{
    height: 80px;
    width: 600px;
    background: white;
    text-align: center;
    line-height: 70px;
    margin-left: 100px;
}


.selector{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-left: 100px;
    column-gap: 150px;
    margin-top: 30px;
}

a#group{
    background-color: green;
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: white;
}

a#teacher, a#auditors{
    text-decoration: none;
    color:white;
    height: 40px;
    width: 100px;
    background-color: green;
    text-align: center;
    line-height: 40px;
}

a#group:hover, a#group:focus{
    background-color: white;
    color: black;
}

a#teacher:hover, a#teacher:focus{
    background-color: white;
    color: black;
}

a#auditors:hover, a#auditors:focus{
    background-color: white;
    color: black;
}

.selector2{
    display: grid;
    grid-template-rows: 40px 100px 40px 40px 40px 300px;
    margin-top: 30px;
    width: 600px;
    margin-left: 100px;
    grid-row-gap: 20px;

}

.group-selector{
    display: grid;
    margin-top: 5px;
    background: white;
}

.group-selector a{
    text-decoration: none;
    color: black;
    border-top: 1px solid black;
}

.group-selector a:hover{
    background-color: yellow;
    opacity: 45%;
    color: green;
}

table, tr, th{
    border: 1px solid black;
}

table{
    background-color: white;
}

tr#green{
    background-color: green;
    color: white;
}

th#green{
    background-color: green;
}

th a{
    color: white;
    text-decoration: none;
}

th#lightgreen{
    background-color: lightgreen;
}

th#violet{
    background-color: violet;
}

th#pink{
    background-color: pink;
}

th#yellow{
    background-color: yellow;
}