@media(max-width:1600px){
    h1#left{
        width: 500px;
    }

    .page{
        grid-template-columns: 600px 700px;
        grid-column-gap: 30px;
    }

    .selector{
        grid-template-columns: 50px 50px 50px;
    }

    .selector2{
        grid-template-columns: 500px;
    }

    .link{
        grid-template-columns: 130px 70px 130px 130px;
        grid-column-gap: 25px;
    }

    .right-content h1#right{
       font-size: 23px;

       
    }

    .right-table{
        grid-template-columns: 200px 500px;
        width: 700px;
    }
}